includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 10

    paths:
        - app
        - routes
        - tests

    excludePaths:
        - ./vendor/*
        - ./storage/*

    reportUnmatchedIgnoredErrors: false
    checkModelProperties: true
